/* Space out content a bit */
body {
  background: #eee;
}
.container{
  background: #fff;
  padding-top:10px;
}

.container > div.row
{
  min-height: 400px;
}

.container > div.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.container > div.row > [class*'col-'] {
  display: flex;
  flex-direction: column;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

h1
{
  font-size:28px;
}
h2
{
 font-size:24px; 
 border-bottom: solid 1px;
 padding-bottom:5px;
}
h3
{
  font-size:20px;
}
.black-label
{
  background:#000;
  color:#FFF;
  width:120px;
  padding:4px;
  display: block;
  font-weight: normal;
  font-size: 16px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin:0 -15px;
  text-align: center;
}
.footer img {
   text-align: center;
}
.copyright
{
  background: #15445d;
  color:#fff;
  padding:4px;
  margin-top:20px;
}

/* Customize container */
.container {
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

a.logo img
{
  width:180px;
  padding:5px 0px;
}
img.sponsor-logo
{
  margin:20px 0px 20px 15px;
  width: 155px;
}
h3.header-dates
{
  padding:4px;
  background: rgba(255,255,255,0.8);
}
p
{
  text-align: justify;
}
div.footer img
{
  margin:10px 5px;
}


.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}


table.program
{
    border:solid 1px #AAA;
    width:100%;
    margin:20px 0px 0px 0px;
}
table.program td
{
    border:solid 1px #AAA;
    width:120px;
    padding:5px;
}
table.program tr
{
    background-color: #FFF;
}
table.program thead td
{
    text-align:center;
    background: #15445d;
    color:#FFF;
}
table.program thead.red td
{
    background:#5d1515;
}
table.program tbody.paper-session
{
    border-top:solid 3px #000;
    border-bottom:solid 3px #000;
}
table.program tbody.paper-session em
{
    display: block;
}
table.program td
{
    text-align: right;
    padding-right:8px;
}
table.program td+td
{
    text-align: left;
    vertical-align: top;
    width:auto;
}
.sticky-box
{
  position: sticky;
  top:15px;
}

ul.hotel-list
{
  padding:0 0 0 10px;
}
ul.hotel-list li
{
  list-style-type: none;
  margin:25px 0;
  border-left:solid 4px #ccc;
  display: block;
  padding-left:12px;
}
.spaced-list li
{
    padding:10px 0;
}
.flex-row-centered
{
  align-items: center; 
  justify-content: space-around;
  text-align: center;
  margin:0 15px;
}
.flex-row-centered div
{
  display: inline-block;
  padding:0 15px;
}
.news li
{
    margin:6px 0;
}